@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*,
*::before,
*::after{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.container{
    padding: 0 180px;
}
@media(max-width:1240px){
    .container{
        padding: 0 150px;
    }
}
@media(max-width:1080px){
    .container{
        padding: 0 100px;
    }
}
@media(max-width:920px){
    .container{
        padding: 0 30px;
    }
}
@media(max-width:820px){
    .container{
        padding: 0;
    }
}
header{
    background: url("img/dekstop/headerbg.png")no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header__left{
    padding-top: 100px;
}
.laptop__header{
    display: none;
}
.header__title{
    font-style: 700;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header__subtitle{
    font-weight: 400;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #FFFFFF;
}
.header__right{
    width: 360px;
    height: 400px;
    background: #3A1BB5;
    padding: 40px 26px;
}
.header__contacts{
    width: 750px;
    height: 300px;
    background: #3A1BB5;
    padding: 40px 26px;
    display: none;
}
.mobile__languages{
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
    display: none;
}
.moble__contacts{
    width: 395px;
    height: 260px;
    background: #3A1BB5;
    display: none;
}
.languages{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}
.lng__item{
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
}
.rus__lang{
    color: #FEB119;
    border: 2px solid #FEB119;
    border-radius: 6px;
    padding: 2px 5px;
    cursor: pointer;
    margin-right: 10px;
}
.kz__lang{
    color: #FFFFFF;
    cursor: pointer;
    transition: color 0.3s ease-out;
}
.kz__lang:hover{
    color: #FEB119;
}
.free__call{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #FEB119;
    border: 5px solid #FEB119;
    transition: all 0.3s ease-out;
}
.img__free__call{
    width: 36px;
    height: 59px;
    background: url("img/phone.svg") no-repeat;
    transition: all 0.3s ease-out;
}
.number__free{
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 0.03em;
    margin-left: 20px;
}
.free__call:hover{
    color: #FFFFFF;
    border: 5px solid #FFFFFF;
}
.free__call:hover .img__free__call{
    background: url("img/whitephone.svg") no-repeat;
}
.call__subtitle{
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    line-height:1.7;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header__whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.number__whatsapp{
    font-weight: 500;
    font-size: 33px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-left: 15px;
    transition: color 0.3s ease-out;
}
.number__whatsapp:hover{
    color: #FEB119;
}
@media(min-width:1920px){
    header{
        height: 500px;
    }
    .header__right{
        height: 500px;
    }
    .languages{
        margin-bottom: 95px;
    }
}
@media(max-width:1310px){
    header{
        background-position: left 30% center;
        height: 400px;
    }
    .header__left{
        padding-left: 0;
    }
    .header__right{
        width: 450px;
    } 
    .header__title{
        font-size: 38px;
        line-height: 1.3;
        margin-bottom: 15px;
    }
    .header__subtitle{
        font-size: 18px;
        line-height: 1.2;
        color: #FFFFFF;
    }
    .lng__item{
        font-size: 24px;
    }
    .number__free{
        font-size: 70px;
    }
    .call__subtitle{
        font-size: 21px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .number__whatsapp{
        font-size: 28px;
    }
}
@media(max-width:1080px){
    header>.container{
        padding: 0;
    }
    .header__left{
        padding-left: 100px;
    }
}
@media(max-width:920px){
    .number__free{
        font-size: 63px;
        margin-left: 10px;
    }
    .number__whatsapp{
        font-size: 24px;
    }
    .header__left{
        padding-left: 30px;
    }
}
@media(max-width:830px){
    .header__whapp-img{
        width: 30px;
        height: 30px;
    }
    .header__left{
        margin-right: 5px;
    }
    .header__title{
        font-size: 34px;
    }
    .header__subtitle{
        font-size: 16px;
    }
    header{
        background-position: left 10% center;
    }
}
@media(max-width:750px){
    main{
        margin-top: 0 ;
    }
    .header__contacts{
        width: 100vw;
        display: block;
        padding: 10px 50px;
    }
    .laptop__header{
        display: block;
        padding-left: 50px;
        padding-top: 220px;
        
    }
    .header__left{
        display: none;
    }
    .header__right{
        display: none;
    }
    .header__title{
        font-size: 42px;
    }
    .header__subtitle{
        font-size: 20px;
    }
    .languages{
        margin-bottom: 30px;
    }
}
@media(max-width:690px){
    .header__title{
        font-size: 34px;
    }
}
@media(max-width:575px){
    .header__title br{
        display: none;
    }
    .header__title{
        font-size: 36px;
        width: 95%;
    }
    .laptop__header{
        display: block;
        padding-left: 20px;
    }
}
@media(max-width:510px){
    .header__subtitle{
        font-size: 16px;
    }
}
@media(max-width:395px){
    .mobile__languages{
        display: flex !important;
        width: 110px;
        height: 56px;
        background: #3A1BB5;
        position: absolute;
        top:0;
        right:0;
    }
    header>.container{
        background: url("img/mobile/Group\ 55.png") no-repeat;
        height: 680px;
    }
    header{
        height: 680px;
    }
    .header__contacts{
        display: none;
    }
    .laptop__header{
        padding: 220px 20px 0 20px;
    }
    .header__title{
        font-size: 24px;
        width: 315px;
        line-height: 36px;
        margin-bottom: 10px;
    }
    .header__title br{
        display: block;
    }
    .header__subtitle{
        font-size: 18px;
    }
    .header__wrapper{
        display: block;
    }
    .moble__contacts{
        width: 100%;
        margin-top: 20px;
        display: block;
        padding: 24px 55px;
    }
    .number__free{
        font-size: 64px;
    }
}
@media(max-width:366px){
    .moble__contacts{
        padding: 24px 30px;
    }
}
/**MAIN**/
.blocks__wrapper{
    display: flex;
    justify-content: space-between;
}
.blocks{
    margin-top: 40px;
}
.blocks__left{
    display: flex;
    flex-wrap: wrap;
    width: 680px;
}
.block2{
    border: 1px solid #66D144 !important;
}
.block__item{
    margin-right: 20px;
    width: 320px;
    height: 450px;
    background: #F8F8F8;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 22px 30px;
    margin-bottom: 40px;
}
.kekekz__img{
    display: block;
    margin: 0 auto;
    height: 50px;
}
.item__subtitle{
    margin: 30px 0;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.zaim__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}
.zaim__item:last-child{
    margin-bottom: 50px;
}
.btn{
    background: #66D144;
    border: none;
    border-radius: 6px;
    width: 100%;
    padding: 18px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background 0.3s ease-out;
}
.btn:hover{
    background: #53B135;
}
.blocks__right{
    padding: 30px 25px;
    width: 360px;
    background: rgba(255, 138, 1, 0.05);
}
.list__item{
    display: flex;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #000000;  
    border-bottom: 1px solid #FF8A01;
    padding: 20px 0;
}
.list__item:first-child{
    padding-top: 0;
}
.list__item:last-child{
    margin-bottom: 0;
    border: none;
    padding-bottom: 0;
}
.list__number{
    margin-right: 10px;
}
@media(max-width:1400px){
    .blocks__right{
        width: 320px;
    }
}
@media(max-width:1360px){
    .kekekz__img{
        height: 35px;
    }
    .block__item{
        width: 280px;
    }
    .blocks__right{
        width: 360px;
    }
}
@media(max-width:1280px){
    .blocks__wrapper{
        flex-direction:column-reverse;
        align-items: center;
    }
    .blocks__right{
        width: 100%;
        margin-bottom: 30px;
    }
    .info__list-item br{
        display: none;
    } 
    .blocks__left{
        width: 100%;
        justify-content: center;
    }
}
@media(max-width:820px){
    .blocks__left{
        width: 100%;
    }
    .block__item{
        width: 400px;
        margin-right: 0;
    }
}
@media(max-width:425px){
    .container{
        padding: 0 15px;
    }
    .block__item{
        width: 100%;
    }
}
@media(max-width:400px){
    .blocks{
        margin-top: 40px;
    }
    .list__item{
        font-size: 18px;
    }
    .zaim__item:last-child{
        margin-bottom: 15px;
    }
    .item__subtitle{
        font-size: 10px;
        padding: 10px 0;
        margin: 15px 0;
    }
    .zaim__item{
        font-size: 10px;
        margin-bottom: 5px;
    }
    .blocks__left{
    flex-direction: row;
    }
    .btn{
        padding: 10px 0;
        font-size: 9px;
    }
    .block__item{
        padding: 14px 10px;
        width: 160px;
        height: 220px;
        margin: 0 5px 20px 0;
    }
    .kekekz__img{
        height: 20px;
    }
}
/**FOOTER**/
.footer__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    color: #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 20px 0;
}
.footer__title br{
    display: none;
}
.year{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
    color: #000000;
    margin: 10px 0;
}
@media(max-width:750px){
    footer>.container{
        padding: 0 15px;
    }
    .footer__title br{
        display: block;
    }
}
@media(max-width:425px){
    .footer__title{
        font-size: 16px;
    }
    .year{
        font-size: 12px;
    }
}
/**Молдабекова Акбота**/